@import '../../common/constants.css';
@import '../../common/base.css';

.app {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.appContent {
    flex: 1 1 auto;
    margin: 32px 0;
}