.addCardBtnMenu {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

@media (max-width: 400px) {
    .addCardBtnMenu {
        bottom: 100px;
    }
}

.addCardBtnMenu .primaryBtn {
    font-size: 35px;
    padding-top: 5px;
}

.addCardBtnMenu .target {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.addCardBtnMenu .target:hover {
    cursor: pointer;
}

.addCardBtnMenu .list {
    padding: 0;
}

.addCardBtnMenu .list .item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
}