.card {
    perspective: 1000px;
    width: var(--card-size);
    height: var(--card-size);
    margin: var(--internal-padding-smaller);
}

.card .cardEdit, .card .cardDetails {
    position: absolute;
    top: 0;
    color: dimgrey;
    width: var(--card-size);
    height: var(--card-size);
    border: var(--border-thickness) solid var(--primary-color);
    border-radius: var(--card-border-radius);
    padding: var(--internal-padding);
    overflow: hidden;
    backface-visibility: hidden;
}

.card .nav {
    display: flex;
    flex-direction: row;
    color: var(--primary-color);
}

.card h2 {
    padding: var(--internal-padding) 4px;
    margin: 0;
}

.card .nav .right {
    padding: var(--internal-padding) var(--internal-padding);
    display: flex;
    align-items: baseline;
    font-size: 22px;
}

.card .nav .right .icon {
    padding-right: var(--internal-padding);
}

.card .nav .right .icon:hover {
    cursor: pointer;
}

.card .desc {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
}

.card .desc .row {
    text-align: left;
    padding: var(--internal-padding-smaller);
    font-size: var(--font-size);
    font-family: monospace;
}

.card.edit .cardEdit {
    transform: rotateY(0deg);
    transition: transform var(--transition-time-fast) ease-in;
}

.card.edit .cardDetails {
    transform: rotateY(-180deg);
    transition: transform var(--transition-time-slow) ease-out;
}

.card.details .cardDetails {
    transform: rotateY(0deg);
    transition: transform var(--transition-time-fast) ease-in;
}

.card.details .cardEdit {
    transform: rotateY(180deg);
    transition: transform var(--transition-time-slow) ease-out;
}
