.card {
    perspective: 1000px;
    width: var(--card-size);
    height: var(--card-size);
    margin: var(--internal-padding-smaller);
}

.card .cardEdit, .card .cardDetails {
    position: absolute;
    top: 0;
    color: dimgrey;
    width: var(--card-size);
    height: var(--card-size);
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: var(--internal-padding);
    overflow: hidden;
    backface-visibility: hidden;
    box-shadow: 4px 4px 25px -5px rgba(0,0,0,0.25);
}

.card.mobile {
    width: 98vw;
}

.card.mobile .cardEdit {
    width: 100%;
}

.card.mobile .cardDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .nav .coinTypeAndEdit {
    display: flex;
}

.card.mobile .nav {
    width: 100%;
}

.card .nav .coinTypeAndEdit .icon {
    margin-left: 16px;
    font-size: 22px;
}

.card .trash.icon {
    color: palevioletred;
}

.card .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
}

.card h2 {
    margin: 0;
}

.card .nav .right {
    display: flex;
    align-items: baseline;
    font-size: 22px;
}

.card .nav .icon:hover {
    cursor: pointer;
}

.card.mobile .desc {
    width: 100%;
}

.card .desc {
    display: flex;
    flex-direction: column;
    margin-top: var(--external-padding);
}

.card .desc .row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: var(--internal-padding-small) 0;
}

.card .profit {
    color: green;
    font-size: 12px;
    justify-content: flex-end;
    display: flex;
}

.card .loss {
    color: indianred;
    font-size: 12px;
    justify-content: flex-end;
    display: flex;
}

.card .profit span::before {
    content: '▲';
}

.card .loss span::before {
    content: '▼';
    vertical-align: middle;
}


.card.edit .cardEdit {
    transform: rotateY(0deg);
    transition: transform var(--transition-time-fast) ease-in;
}

.card.edit .cardDetails {
    transform: rotateY(-180deg);
    transition: transform var(--transition-time-slow) ease-out;
}

.card.details .cardDetails {
    transform: rotateY(0deg);
    transition: transform var(--transition-time-fast) ease-in;
}

.card.details .cardEdit {
    transform: rotateY(180deg);
    transition: transform var(--transition-time-slow) ease-out;
}
