@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.cardContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transform-style: preserve-3d;
    transition: all .7s linear;
    position: relative;
    flex-wrap: wrap;
}

.message {
    margin-top: 16px;
}