header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.appLogo {
    animation: appLogoSpin infinite 10s linear;
    height: 40px;
}

@keyframes appLogoSpin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.logoAndAppName {
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
