html {
    --primary-color: #0277bd;
    --secondary-color: #63dcfc;
    --external-padding: 20px;
    --internal-padding: 15px;
    --internal-padding-small: 10px;
    --internal-padding-smaller: 5px;
    --input-field-height: 20px;
    --transition-time-slow: 0.7s;
    --transition-time-fast: 0.5s;
    --font-size: 14px;
    --card-size: 250px;
    --card-border-radius: 10px;
    --border-thickness: 2px;
    --notification-bar-height: 50px;
}